html(lang="pt-BR")
  head
    include head.pug
    
    block script
        include script.pug
      
  body
    block navbar
      include navbar.pug

    block content
      
    block footer
      include footer.pug
